/* not-found.component.scss */

.not-found-container {
    text-align: center;
    margin: 100px auto;
  }
  
  h1 {
    font-size: 36px;
    color: #FF5722; /* Customize the color to your preference */
  }
  
  p {
    font-size: 18px;
  }
  